///
/// Editorial by Hamza
/// Hamza | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (Hamza/license)
///

/* Icon */

	.icon {
		@include icon;
		border-bottom: none;
		position: relative;

		> .label {
			display: none;
		}
	}